In [1]:
people = {
    'first': ['Thomas', 'Bradyn', 'Kierra', 'Andy', 'Ropter'], 
    'last': ['Crane', 'Kramer', 'Gentry', 'Kramer', 'Kramer'], 
    'email': ['Crane@gmail.com', 'BradynKramer@email.com', 'KierraGentry@email.com','a@gmail.com', 'hjd@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first    last                   email
0  Thomas   Crane         Crane@gmail.com
1  Bradyn  Kramer  BradynKramer@email.com
2  Kierra  Gentry  KierraGentry@email.com
3    Andy  Kramer             a@gmail.com
4  Ropter  Kramer           hjd@gmail.com

In [5]:
# to sort the df by last name

df.sort_values(by='last', ignore_index=True, ascending=False)

    first    last                   email
0  Bradyn  Kramer  BradynKramer@email.com
1    Andy  Kramer             a@gmail.com
2  Ropter  Kramer           hjd@gmail.com
3  Kierra  Gentry  KierraGentry@email.com
4  Thomas   Crane         Crane@gmail.com

In [6]:
df

    first    last                   email
0  Thomas   Crane         Crane@gmail.com
1  Bradyn  Kramer  BradynKramer@email.com
2  Kierra  Gentry  KierraGentry@email.com
3    Andy  Kramer             a@gmail.com
4  Ropter  Kramer           hjd@gmail.com

In [7]:
# to sort by multiple items
# first by last name and then this reslut will be sorted by the first names

df.sort_values(by=['last', 'first'], ignore_index=True, ascending=False)

    first    last                   email
0  Ropter  Kramer           hjd@gmail.com
1  Bradyn  Kramer  BradynKramer@email.com
2    Andy  Kramer             a@gmail.com
3  Kierra  Gentry  KierraGentry@email.com
4  Thomas   Crane         Crane@gmail.com

In [8]:
# to make last name sorted in ascending order and first name in descending order 

df.sort_values(by=['last', 'first'], ignore_index=True, ascending=[True,False])

    first    last                   email
0  Thomas   Crane         Crane@gmail.com
1  Kierra  Gentry  KierraGentry@email.com
2  Ropter  Kramer           hjd@gmail.com
3  Bradyn  Kramer  BradynKramer@email.com
4    Andy  Kramer             a@gmail.com

In [9]:
df.sort_index()

    first    last                   email
0  Thomas   Crane         Crane@gmail.com
1  Bradyn  Kramer  BradynKramer@email.com
2  Kierra  Gentry  KierraGentry@email.com
3    Andy  Kramer             a@gmail.com
4  Ropter  Kramer           hjd@gmail.com

In [10]:
# to sort only a sigle series from the df

df['last'].sort_values()

0     Crane
2    Gentry
1    Kramer
3    Kramer
4    Kramer
Name: last, dtype: object