In [1]:
#trying some concepts in pandas

# this stores data only for one person
person = {
    "first": "Andy", 
    "last": "Zed", 
    "email": "andyz@gmail.com"
}

In [2]:
# inorder to represent data for multiple people
# just make the values in the dictionary a list

people = {
    "first": ["Andy"], 
    "last": ["Zed"], 
    "email": ["andyz@gmail.com"]

}

In [3]:
# so we add up some values and the second value is the second person

people = {
    "first": ["Andy", 'Jane', 'John'], 
    "last": ["Zed", 'Doe', 'Doe'], 
    "email": ["andyz@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [4]:
# so lets try to access email , that is straight forward
people['email']

['andyz@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [5]:
# for furthur functionality lets use dataframes and pandas
import pandas as pd

#condtruct the dataframe
df = pd.DataFrame(people)

In [6]:
df

  first last              email
0  Andy  Zed    andyz@gmail.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [7]:
# to access a single value from the dataframe's COLUMNS we use the same principle as dictionary
# accessing a single column
df['first']

0    Andy
1    Jane
2    John
Name: first, dtype: object

In [8]:
#lets check the type
type(df['first'])


#pandas.core.series.Series
#Series can be thought as rows of a single data with single column but
#dataframes are datas with multiple rows and columns 
#or dataframe is a container of multiple this series """

pandas.core.series.Series

In [9]:
# accessing multiple column
# just pass the a list containing the columns

df[['email', 'first']]

               email first
0    andyz@gmail.com  Andy
1  JaneDoe@email.com  Jane
2  JohnDoe@email.com  John

In [10]:
# if we have a lot of columns 
# can be seen easyly
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
# to get the rows we use
# loc and iloc

# iloc allows us to access rows by integer location

# the first row is which is a single row 

df.iloc[0]

first               Andy
last                 Zed
email    andyz@gmail.com
Name: 0, dtype: object

In [12]:
# to access multiple row pass lists of the rows
df.iloc[[0, 1]]

  first last              email
0  Andy  Zed    andyz@gmail.com
1  Jane  Doe  JaneDoe@email.com

In [13]:
# to get columns for certain row we can pass another index as a second argument to iloc
# for example 'email' is the third column that has index of 2
# iloc always takes integer so pass integer



df.iloc[[0, 1], 2]

0      andyz@gmail.com
1    JaneDoe@email.com
Name: email, dtype: object

In [14]:
# to access a row by lable we use loc
# for this dataframe the lables are the indexes but can be changed to strings
# and columns can be accessed by their names

df.loc[[2, 0], ['email', 'last']]

               email last
2  JohnDoe@email.com  Doe
0    andyz@gmail.com  Zed

In [15]:
df

  first last              email
0  Andy  Zed    andyz@gmail.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [16]:
# what if we want to set another identifier for the rows other than the index given by default
# to set the email as an index to the dataframe

df.set_index('email')

                  first last
email
andyz@gmail.com    Andy  Zed
JaneDoe@email.com  Jane  Doe
JohnDoe@email.com  John  Doe

In [17]:
# but the dataframe is not changed 
df

  first last              email
0  Andy  Zed    andyz@gmail.com
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [18]:
# to change it in the way we want that is to make email an index
# doing it might be useful as it is a unique value to search for other info
# like using it in loc[] as a lable

df.set_index('email', inplace=True)

In [19]:
df        # now it is changed and can be reseted to original after manipulation

                  first last
email
andyz@gmail.com    Andy  Zed
JaneDoe@email.com  Jane  Doe
JohnDoe@email.com  John  Doe

In [20]:
# lets check the index
df.index

Index(['andyz@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [21]:
df.columns  # no email as it is now an index

Index(['first', 'last'], dtype='object')

In [22]:
df.loc['andyz@gmail.com']

first    Andy
last      Zed
Name: andyz@gmail.com, dtype: object

In [23]:
# to reset the dataframe
df.reset_index(inplace=True)

In [24]:
df   # back to original

               email first last
0    andyz@gmail.com  Andy  Zed
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe